<html>
    <body>
        <form method="post" action="/new">
             <input type="text" name="author" id="">
                <input type="text" name="text" id="">
                <button type="submit">submit</button>
        </form>
    </body>
</html>