<html>
  <body>
   
             <ul>
            <li> text <%= message.text %></li>
            <li>name <%= message.user %></li>
            <li>date <%= message.added %></li>
            </ul>

      
<a href="/" class="btn">back</a>
  </body>
</html>